@font-face {
    font-family: bilmet;
    font-weight: 400;
    src: url('/src/assets/font/Bilment-Italic-BF63ce005e5b515.otf');
    src: url('/src/assets/font/Bilment-BF63ce005f5153f.otf');
}
@font-face {
    font-family: qhuerto;
    font-weight: 400;
    src: url('/src/assets/font/qhuerto.otf');
    /* src: url('/src/assets/font/qhuerto.ttf'); */
}