.logo{
    width:50px;
    height: 50px;
}

.mail:hover, .tel:hover, .address:hover{
    color:cornflowerblue;
    font-weight: bold;
    text-decoration: none;
  }
  .social_icon .icons li {
    margin: 20px 0 20px 0;
  }

  .social_icon .icons li a .fa-brands {
    color: aliceblue;
    font-size: 30px;

  }

  .social_icon .icons li a .fa-twitter:hover {
    color: rgb(49, 248, 255);
  }

  .social_icon .icons li a .fa-instagram:hover {
    color: darkorange;
  }

  .social_icon .icons li a .fa-facebook-f:hover {
    color: blue;
  }

  .social_icon .icons li a .fa-pinterest:hover {
    background: #000;
    color: red;
  }


 /* For mobile and smartphones */ 
@media screen and (min-width : 320px) and (max-width : 480px) {
#c-head-text{
font-size: 16px;
}
#c-head-text-2{
font-size: 18px; 
}
#c-btn-text{
font-size: 12px;
}
/* #service-c{
/* width: ; */
/* } */
}